* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Trebuchet MS", sans-serif;
  background: #64B6F7;
  font-size: 16px;
  color: #111;
}

main {
  min-height: 100%;
  padding: 1rem;
}

.card {
  width: 100%;
  max-width: 500px;
  margin: 3rem auto;

  border-radius: 30px;
  overflow: hidden;
  background: #FFFDEA;
}

.image{
  width: 100%;
  height: auto;
  display: block;
}
