/*to save time, I used the inspect tool to edit*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Trebuchet MS", sans-serif;
  background: #64B6F7;
  font-size: 16px;
  color: #111;
}

main {
  padding: 1rem;
}

.card {
  width: 100%;
  max-width: 500px;
  margin: 3rem auto;

  border-radius: 30px;
  overflow: hidden;
  background: #FFFDEA;
}

.image img{
  width: 100%;
  height: auto;
  display: block;
}

.text {
  text-align: center;
  padding: 3rem 2rem;
  background: #FFFDEA;
}

.title {
  font-size: 1.8rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #00A6FF;
  margin-bottom: 1rem;
}

.quote {
  font-style: italic;
  font-size: 1.5rem;
  line-height: 1.25;
  margin-bottom: 1rem;
  color: #333333;
}

.author {
  font-weight: bold;
  font-size: 1rem;
  color: #F6C117;
}
